body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

.container {

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
}


#header .container {
  background-color: #007bff;
  color: white;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-sizing: border-box;
}

#header h1 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
}

nav ul li {
  margin: 0 15px;
  border-bottom: 1px solid #559fee;
}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 10px 0;
  display: block;
  font-size: 18px;
}

.menu-icon {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  right: 20px;
  top: 20px;
}

.menu-icon span {
  height: 3px;
  width: 25px;
  background: white;
  margin: 4px;
  border-radius: 3px;
  transition: transform 0.3s ease-in-out, background 0.3s ease-in-out;
}

.menu-icon.open span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}

.menu-icon.open span:nth-child(2) {
  opacity: 0;
}

.menu-icon.open span:nth-child(3) {
  transform: translateY(-14px) rotate(-45deg);
}

#main .container {
  flex: 1;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 1rem;
  padding: 20px;
  margin-top: 7rem;
}


#content, #about, #contact {
  grid-column: 1;
}

#sidebar {
  grid-column: 2;
}
#stations {
  text-align: center;
}
#stations-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
}

#stations-list div {
  display: grid;
    grid-template-columns: 1fr 25%;
    align-items: center;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;

}

#stations-list h3 {
  margin: 0;
}

#stations-list button {
  display: inline-block;
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#stations-list button:hover {
  background-color: #0056b3;
}

#stations-list button::before {
  content: '▶ ';
  font-size: 25px;
}

#player-container {
  margin-top: 20px;
}

#player-container {
  display: block;
  text-align: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #ffffff;
  border-top: 1px solid #e0e0e0;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 100;
}
#player-container h2 {

  font-size: 25px;
  font-weight: normal;
  margin: 0;
  margin-bottom: 1rem;
  color: #333;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#audio-player {
  width: 100%;
}

#footer {
  background-color: #007bff;
  color: white;
  padding: 10px;
  text-align: center;
  position: relative;
  margin-top: auto;
}

#footer p {
  margin: 0;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
}

form label {
  margin-top: 10px;
}

form input, form textarea {
  margin-top: 5px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

form input[type="submit"] {
  margin-top: 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #0056b3;
}
/*****************************/
/*****************************/
/*****************************/
/*********RESPONSIVE**********/
/*****************************/
/*****************************/
/*****************************/


@media (max-width: 768px) {
  #header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    padding: 20px 3px;
    box-sizing: border-box;
    left: -3px;
  }
  #header .container {
    display: block;
  }



  nav ul {
    flex-direction: column;
    max-height: 0;
    background-color: #007bff;
    width: 100%;
    text-align: center;
  }

  nav ul.active {
    max-height: 200px;
    margin-top: 35px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 5px;
  }

  .menu-icon {
    display: flex;
  }

  #main {
    grid-template-columns: 1fr;
    padding: 0;
    margin-top: 25px;
  }

  #main .container {
    grid-template-columns: 1fr;
    margin-top: 4rem;
    
  }

  #stations-list div {
    display: grid;
    grid-template-columns: 1fr 25%;
    align-items: center;
    padding: 5px;
    
  }

  #sidebar {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 0;
    z-index: 10;
    left: 0;
  }

  #player-container {
    margin-top: 0;
    width: 100%;
    box-sizing: border-box;
  }

  footer {
    margin: 15px 0 61px 0;
    }
    #player-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 20px;
      background-color: #ffffff;
      border-top: 1px solid #e0e0e0;
      box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
      position: relative;
      z-index: 100;
    }
    
    #player-container h2 {
      font-size: 14px;
      font-weight: normal;
      margin: 0;
      color: #333;
      flex: 1;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
}

/*end responsive*/

#station-name {
  font-weight: bold;
  color: #007bff;
  display: block;
}

#audio-player {
  width: 150px;
  max-width: 150px;
}

#audio-player::-webkit-media-controls-panel {
  background-color: #ffffff;
  border-radius: 0;
}

#audio-player::-webkit-media-controls-play-button,
#audio-player::-webkit-media-controls-pause-button {
  color: #007bff;
}

#audio-player::-webkit-media-controls-mute-button,
#audio-player::-webkit-media-controls-unmute-button {
  display: none;
}

#audio-player::-webkit-media-controls-timeline {
  background-color: #f4f4f4;
  height: 2px;
  border-radius: 1px;
}

#audio-player::-webkit-media-controls-current-time-display,
#audio-player::-webkit-media-controls-time-remaining-display {
  display: none;
}

#audio-player {
  outline: none;
  background: #007bff;
    background-color: rgb(0, 123, 255);
  -webkit-appearance: none;
  border: 2px solid #007bff;
  border-radius: 10px;
  background-color: #007bff;
}

#audio-source {
  display: none;
}
